@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffffff;
    font-family: "Rubik", 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #17171d;
    font-display: swap;
}
:root {
    --primary-color: #891b81;
    --primary-shade1: #95328e;
    --secondary-color: #171d28;
    --hover-btn-color: #b128a8;
    --hover-primary-color: #f07ee9;
}

*{
    cursor: url("./assets/images/cursor.png"), default;
}

/* Thin Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 25px;
}