@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "Rubik", 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #17171d;
  font-display: swap;
}

:root {
  --primary-color: #891b81;
  --primary-shade1: #95328e;
  --secondary-color: #121420;
  --hover-btn-color: #b128a8;
  --hover-primary-color: #f07ee9;
}


.bg-gradient-secondary {
  /* gradient background secondary without variable */
  background: linear-gradient(90deg, #313131 0%, #121420 100%);
}

.bg-gradient-primary {
  /* gradient background primary without variable */
  background: linear-gradient(90deg, #f07ee9 0%, #b128a8 100%);
}

/* change degree for mobile device  */
@media (max-width: 768px) {
  .bg-gradient-secondary {
    background: linear-gradient(180deg, #313131 0%, #121420 100%);
  }

  .bg-gradient-primary {
    background: linear-gradient(180deg, #f07ee9 0%, #b128a8 100%);
  }
}

/* animated grid background*/
.grid-bg {
  background: linear-gradient(90deg, #f07ee9 0%, #b128a8 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

/* *{
    cursor: url("./assets/images/cursor.png"), default;
} */

/* Thin Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 25px;
}

/* animate bounce right */
.animate-bounce-right {
  animation: bounceRight 1s infinite;
}

@keyframes bounceRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

/* animate bounce left */
.animate-bounce-left {
  animation: bounceLeft 1s infinite;
}

@keyframes bounceLeft {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

